<!DOCTYPE html>
<html lang="en-US" dir="ltr">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <!-- ===============================================-->
      <!--    Document Title-->
      <!-- ===============================================-->
      <title>Tanindo | Bersertifikasi untuk Masa Depan Pertanian</title>

      <!-- ===============================================-->
      <!--    Favicons-->
      <!-- ===============================================-->
      <link
         rel="apple-touch-icon"
         sizes="180x180"
         href="assets/img/favicons/apple-touch-icon.png"
      />
      <link
         rel="icon"
         type="image/png"
         sizes="32x32"
         href="assets/img/gallery/logo-icon-tanindo.png"
      />
      <link
         rel="shortcut icon"
         type="image/x-icon"
         href="assets/img/gallery/logo-icon-tanindo.png"
      />
      <link rel="manifest" href="assets/img/favicons/manifest.json" />
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
      />
      <meta
         name="msapplication-TileImage"
         content="assets/img/favicons/mstile-150x150.png"
      />
      <meta name="theme-color" content="#ffffff" />

      <!-- ===============================================-->
      <!--    Stylesheets-->
      <!-- ===============================================-->
      <link href="assets/css/theme.css" rel="stylesheet" />

      <link
         href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&amp;display=swap"
         rel="stylesheet"
      />
      <meta
         name="description"
         content="LSP Tanindo adalah lembaga sertifikasi profesi yang bertanggung jawab dalam melaksanakan sertifikasi kompetensi profesi bidang pertanian. Menyediakan sertifikasi bagi individu yang memiliki keterampilan dan pengetahuan yang dibutuhkan dalam industri pertanian."
      />
      <meta
         name="keywords"
         content="LSP Tanindo, sertifikasi pertanian, sertifikasi kompetensi, lembaga sertifikasi profesi, kompetensi pertanian, sertifikasi SDM pertanian"
      />
   </head>

   <body>
      <!-- ===============================================-->
      <!--    Main Content-->
      <!-- ===============================================-->
      <main class="main" id="top">
         <nav
            class="navbar navbar-expand-lg navbar-light fixed-top py-3 bg-light opacity-85 justify-content-between"
            data-navbar-on-scroll="data-navbar-on-scroll"
         >
            <div class="container">
               <a class="navbar-brand" href="index.html"
                  ><img
                     class="d-inline-block align-top img-fluid"
                     src="assets/img/gallery/logo-icon-tanindo.png"
                     alt=""
                     width="50"
                  /><span class="text-theme font-monospace fs-4 ps-2"
                     >Tanindo</span
                  ></a
               >
               <button
                  class="navbar-toggler collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
               >
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div
                  class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0 text-end"
                  id="navbarSupportedContent"
               >
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">
                     <li class="nav-item px-2">
                        <a
                           class="nav-link fw-medium active"
                           aria-current="page"
                           href="#header"
                           >Beranda</a
                        >
                     </li>
                     <li class="nav-item px-2">
                        <a class="nav-link fw-medium" href="#tentang"
                           >Tentang</a
                        >
                     </li>

                     <li class="nav-item px-2">
                        <a class="nav-link fw-medium" href="#alur">Alur</a>
                     </li>
                     <!-- <li class="nav-item px-2">
                        <a class="nav-link fw-medium" href="#testimonial"
                           >Testimonial</a
                        >
                     </li> -->
                     <li class="nav-item px-2">
                        <a class="nav-link fw-medium" href="#kontak">Kontak </a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <section class="py-0" id="header">
            <div
               class="bg-holder d-none d-md-block"
               style="
                  background-image: url(assets/img/illustrations/hero-header.png);
                  background-position: right top;
                  background-size: contain;
               "
            ></div>
            <!--/.bg-holder-->

            <div
               class="bg-holder d-md-none"
               style="
                  background-image: url(assets/img/illustrations/hero-bg.png);
                  background-position: right top;
                  background-size: contain;
               "
            ></div>
            <!--/.bg-holder-->

            <div class="container">
               <div class="row align-items-center min-vh-75 min-vh-lg-100">
                  <div
                     class="col-md-7 col-lg-6 col-xxl-5 py-6 text-sm-start text-center"
                  >
                     <h1
                        class="mt-6 mb-sm-4 fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6"
                     >
                        Bersertifikasi untuk
                        <br class="d-block d-lg-block" />Masa Depan Pertanian
                     </h1>
                     <p class="mb-4 fs-1">
                        Mengukuhkan Kompetensi, Meningkatkan Daya Saing.
                     </p>
                     <a href="#tentang" class="btn btn-lg btn-success"
                        >Selengkapnya ...</a
                     >
                  </div>
               </div>
            </div>
         </section>
         <section class="py-5" id="tentang">
            <div class="container">
               <div class="row mb-5 align-items-center">
                  <div class="col-md-6 col-12 mb-5 text-center">
                     <img
                        src="assets/img/gallery/logo-tanindo.png"
                        alt=""
                        class="img-fluid"
                     />
                  </div>
                  <div class="col-md-6 col-12 mb-3">
                     <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">
                        Tentang kami
                     </h5>
                     <p class="mb-5">
                        Indonesia sebagai negara agraris dengan potensi
                        geografis dan agroklimat serta kesuburan tanahnya pernah
                        mengalami swasembada pangan beras pad atahun 1984. Salah
                        satu kunci suksesnya adalah peran penyuluh pertanian dan
                        program intensifikasi pertanian yang dilaksanakan secara
                        profesional, konsisten dan berkelanjutan. Kini profesi
                        penyuluh pertanian menuju ketahanan pangan, kemandirian
                        pangan dan kedaulatan pangan. Oleh karena itu telah
                        hadir Lembaga Sertifikasi Profesi (LSP) Tani Nelayan
                        Indonesia (Tanindo) untuk melaksanakan sertifikasi
                        penyuluh pertanian agar eksistensinya lebih diakui serta
                        perannya lebih besar bagi pembangunan pertanian di
                        Indonesia. LSP Tanindo hadir untuk menjawab tantangan
                        profesionalisme penyuluh dan petani Indonesia dengan
                        sumberdaya manusia yang unggul, handal dan profesional.
                        Kedepan Indonesia akan menjadi negara besar dengan
                        ketahanan pangan yang kuat, produktivitas pertanian yang
                        tinggi dan berkelanjutan.
                     </p>
                  </div>
               </div>
               <div class="row mb-5 align-items-center">
                  <div class="col-md-6 col-12 mb-3">
                     <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Visi</h5>
                     <p class="mb-5">
                        Menjadi Lembaga Sertifikasi Profesi yang kompeten,
                        kredibel, dan profesional dalam bidang pertanian.
                     </p>
                  </div>
                  <div
                     class="col-md-6 col-12 mb-3 text-center d-md-block d-none"
                  >
                     <img
                        src="assets/img/gallery/logo-tanindo.png"
                        alt=""
                        class="img-fluid"
                     />
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-9 mx-auto text-center mb-3">
                     <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Misi</h5>
                  </div>
               </div>
               <div
                  class="row flex-center h-100 justify-content-center align-items-center mb-5"
               >
                  <div class="col-xl-10">
                     <div class="row">
                        <div class="col-md-4 mb-5">
                           <div
                              class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6"
                           >
                              <div class="text-center text-md-start card-hover">
                                 <img
                                    class="ps-3 icons"
                                    src="assets/img/icons/farmer.svg"
                                    height="60"
                                    alt=""
                                 />
                                 <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">
                                       Meningkatkan Kompetensi SDM Pertanian
                                    </h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">
                                       Meningkatkan keterampilan dan pengetahuan
                                       tenaga kerja di sektor pertanian.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 mb-5">
                           <div
                              class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6"
                           >
                              <div class="text-center text-md-start card-hover">
                                 <img
                                    class="ps-3 icons"
                                    src="assets/img/icons/certification.svg"
                                    height="60"
                                    alt=""
                                 />
                                 <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">
                                       Melaksanakan Sertifikasi Profesi
                                    </h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">
                                       Melaksanakan proses sertifikasi bagi SDM
                                       pertanian.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 mb-5">
                           <div
                              class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6"
                           >
                              <div class="text-center text-md-start card-hover">
                                 <img
                                    class="ps-3 icons"
                                    src="assets/img/icons/collaboration.svg"
                                    height="60"
                                    alt=""
                                 />
                                 <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">
                                       Kolaborasi dan Sinergi
                                    </h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">
                                       Mengembangkan kerjasama antar pemangku
                                       kepentingan di bidang pertanian untuk
                                       menciptakan tenaga kerja yang kompeten
                                       dan kompetitif.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-9 mx-auto text-center mb-3">
                     <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">
                        Tujuan kami
                     </h5>
                  </div>
               </div>
               <div class="row flex-center h-100 mb-5">
                  <div class="col-xl-12">
                     <div class="row">
                        <div class="col-md-3 mb-5">
                           <div
                              class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6"
                           >
                              <div class="text-center text-md-start card-hover">
                                 <img
                                    class="ps-3 icons"
                                    src="assets/img/icons/certification.svg"
                                    height="60"
                                    alt="Icon Sertifikat"
                                 />
                                 <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">
                                       Meyakinkan Kompetensi
                                    </h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">
                                       Membantu tenaga profesi meyakinkan kepada
                                       organisasi/industri/kliennya bahwa
                                       dirinya kompeten dalam bekerja atau
                                       menghasilkan produk atau jasa dan
                                       meningkatakan percaya diri tenaga
                                       profesi.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 mb-5">
                           <div
                              class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6"
                           >
                              <div class="text-center text-md-start card-hover">
                                 <img
                                    class="ps-3 icons"
                                    src="assets/img/icons/career.svg"
                                    height="60"
                                    alt="Icon Karir"
                                 />
                                 <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">
                                       Merencanakan Karir
                                    </h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">
                                       Membantu tenaga profesi dalam
                                       merencanakan karirnya dan mengukur
                                       tingkat pencapaian kompetensi dalam
                                       proses belajar di lembaga formal maupun
                                       secara mandiri.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 mb-5">
                           <div
                              class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6"
                           >
                              <div class="text-center text-md-start card-hover">
                                 <img
                                    class="ps-3 icons"
                                    src="assets/img/icons/regulation.svg"
                                    height="60"
                                    alt="Icon Regulasi"
                                 />
                                 <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">
                                       Memenuhi Persyaratan Regulasi
                                    </h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">
                                       Membantu tenaga profesi dalam memenuhi
                                       persyaratan regulasi.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 mb-5">
                           <div
                              class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6"
                           >
                              <div class="text-center text-md-start card-hover">
                                 <img
                                    class="ps-3 icons"
                                    src="assets/img/icons/global.svg"
                                    height="60"
                                    alt="Icon Global"
                                 />
                                 <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">
                                       Pengakuan Kompetensi Lintas Sektor dan
                                       Negara
                                    </h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">
                                       Membantu pengakuan kompetensi lintas
                                       sektor dan lintas negara serta membantu
                                       tenaga profesi dalam promosi profesinya
                                       di pasar tenaga kerja.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 mb-5 text-center">
                           <img
                              src="assets/img/illustrations/target-asesi.jpg"
                              alt="Target asesi LSP Tanindo"
                              class="img-fluid w-50"
                           />
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-9 mx-auto text-center mb-3">
                     <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">
                        Mengapa Sertifikasi Profesi Penting?
                     </h5>
                  </div>
               </div>
               <div class="row flex-center h-100 mb-5">
                  <div class="col-xl-12">
                     <div class="row">
                        <div class="col-md-4 mb-5">
                           <div
                              class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6"
                           >
                              <div class="text-center text-md-start card-hover">
                                 <img
                                    class="ps-3 icons"
                                    src="assets/img/icons/value.svg"
                                    height="60"
                                    alt="Icon Nilai Sertifikat"
                                 />
                                 <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">
                                       Nilai Sertifikat Profesi
                                    </h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">
                                       Sertifikat profesi memiliki nilai yang
                                       diakui yang memberikan keuntungan dalam
                                       mencapai tujuan karir dan memperkuat
                                       posisi di tempat kerja.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 mb-5">
                           <div
                              class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6"
                           >
                              <div class="text-center text-md-start card-hover">
                                 <img
                                    class="ps-3 icons"
                                    src="assets/img/icons/competence.svg"
                                    height="60"
                                    alt="Icon Kompetensi"
                                 />
                                 <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">
                                       Menjamin Kompetensi
                                    </h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">
                                       Sertifikasi profesi bertujuan untuk
                                       memastikan kompetensi seseorang yang
                                       telah didapatkan melalui pembelajaran,
                                       pelatihan, maupun pengalaman kerja.
                                       Sertifikasi diberikan oleh Lembaga
                                       Sertifikasi Profesi (LSP) berlisensi dari
                                       BNSP (Badan Nasional Standarisasi
                                       Profesi).
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 mb-5">
                           <div
                              class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6"
                           >
                              <div class="text-center text-md-start card-hover">
                                 <img
                                    class="ps-3 icons"
                                    src="assets/img/icons/independent.svg"
                                    height="60"
                                    alt="Icon BNSP"
                                 />
                                 <div class="card-body">
                                    <h6 class="fw-bold fs-1 heading-color">
                                       Peran BNSP
                                    </h6>
                                    <p class="mt-3 mb-md-0 mb-lg-2">
                                       BNSP adalah lembaga independen yang
                                       dibentuk pemerintah Republik Indonesia
                                       melalui Peraturan Pemerintah Nomor 23
                                       Tahun 2004, dengan tugas pokok
                                       melaksanakan sertifikasi kompetensi kerja
                                       untuk berbagai profesi di Indonesia serta
                                       Peraturan Pemerintah (PP) Nomor 10 Tahun
                                       2018 tentang Badan Nasional Sertifikasi
                                       Profesi.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="py-5" id="alur">
            <div class="container">
               <div class="row flex-center h-100">
                  <div class="col-md-5 text-center">
                     <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">
                        Alur sertifikasi kompetensi
                     </h5>
                     <img
                        src="assets/img/illustrations/alur-sertifikasi.png"
                        alt="Alur sertifikasi kompetensi"
                        class="img-fluid w-50"
                     />
                  </div>
                  <div class="col-md-5 text-center">
                     <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">
                        Alur RCC (Recognition Current Competency)
                     </h5>
                     <img
                        src="assets/img/illustrations/alur-rcc.png"
                        alt="Alur RCC (Recognition Current Competency)"
                        class="img-fluid w-50"
                     />
                  </div>
               </div>
            </div>
         </section>

         <!-- Testimonial -->
         <!-- <section class="py-3" id="testimonial">
            <div class="container-lg">
               <div class="row flex-center">
                  <div class="col-12 col-lg-10 col-xl-12">
                     <div
                        class="bg-holder"
                        style="
                           background-image: url(assets/img/illustrations/testimonial-bg.png);
                           background-position: top left;
                           background-size: 120px 83px;
                        "
                     ></div>

                     <h6 class="fs-3 fs-lg-4 fw-bold lh-sm">
                        Kata mereka <br />tentang LSP Tanindo
                     </h6>
                  </div>
                  <div
                     class="carousel slide pt-3"
                     id="carouselExampleDark"
                     data-bs-ride="carousel"
                  >
                     <div class="carousel-inner">
                        <div
                           class="carousel-item active"
                           data-bs-interval="10000"
                        >
                           <div
                              class="row h-100 mx-3 mx-sm-5 mx-md-4 my-md-7 m-lg-7 mt-7"
                           >
                              <div class="col-md-4 mb-5 mb-md-0">
                                 <div class="card h-100 shadow">
                                    <div class="card-body my-3">
                                       <div
                                          class="align-items-xl-center d-block d-xl-flex px-3"
                                       >
                                          <img
                                             class="img-fluid me-3 me-md-2 me-lg-3"
                                             src="assets/img/gallery/user-1.png"
                                             width="50"
                                             alt=""
                                          />
                                          <div
                                             class="flex-1 align-items-center pt-2"
                                          >
                                             <h5
                                                class="mb-0 fw-bold text-success"
                                             >
                                                Agus Setiawan
                                             </h5>
                                             <p class="fw-normal text-black">
                                                Petani Padi dari Jawa Tengah
                                             </p>
                                          </div>
                                       </div>
                                       <p class="mb-0 px-3 px-md-2 px-xxl-3">
                                          &quot;Sertifikasi dari LSP Tanindo
                                          telah membantu saya meningkatkan
                                          keahlian dalam teknik budidaya padi.
                                          Dengan pengetahuan dan keterampilan
                                          yang diakui, saya kini lebih percaya
                                          diri dalam mengelola lahan dan
                                          menghasilkan panen yang lebih baik.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-4 mb-5 mb-md-0">
                                 <div class="card h-100 shadow">
                                    <div class="card-body my-3">
                                       <div
                                          class="align-items-xl-center d-block d-xl-flex px-3"
                                       >
                                          <img
                                             class="img-fluid me-3 me-md-2 me-lg-3"
                                             src="assets/img/gallery/user-2.png"
                                             width="50"
                                             alt=""
                                          />
                                          <div
                                             class="flex-1 align-items-center pt-2"
                                          >
                                             <h5
                                                class="mb-0 fw-bold text-success"
                                             >
                                                Siti Nurhaliza
                                             </h5>
                                             <p class="fw-normal text-black">
                                                Ahli Perikanan dari Sulawesi
                                                Selatan
                                             </p>
                                          </div>
                                       </div>
                                       <p class="mb-0 px-3 px-md-2 px-xxl-3">
                                          &quot;LSP Tanindo memberikan standar
                                          kompetensi yang tinggi. Sertifikasi
                                          yang saya peroleh membuka banyak
                                          peluang kerja baru dan meningkatkan
                                          kredibilitas saya di industri
                                          perikanan.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-4 mb-5 mb-md-0">
                                 <div class="card h-100 shadow">
                                    <div class="card-body my-3">
                                       <div
                                          class="align-items-xl-center d-block d-xl-flex px-3"
                                       >
                                          <img
                                             class="img-fluid me-3 me-md-2 me-lg-3"
                                             src="assets/img/gallery/user-3.png"
                                             width="50"
                                             alt=""
                                          />
                                          <div
                                             class="flex-1 align-items-center pt-2"
                                          >
                                             <h5
                                                class="mb-0 fw-bold text-success"
                                             >
                                                Budi Santoso
                                             </h5>
                                             <p class="fw-normal text-black">
                                                Peternak dari Jawa Barat
                                             </p>
                                          </div>
                                       </div>
                                       <p class="mb-0 px-3 px-md-2 px-xxl-3">
                                          &quot;Melalui sertifikasi dari LSP
                                          Tanindo, saya belajar banyak tentang
                                          manajemen peternakan modern. Ini tidak
                                          hanya meningkatkan produktivitas,
                                          tetapi juga kesejahteraan hewan ternak
                                          saya.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                           <div
                              class="row h-100 mx-3 mx-sm-5 mx-md-4 my-md-7 m-lg-7 mt-7"
                           >
                              <div class="col-md-4 mb-5 mb-md-0">
                                 <div class="card h-100 shadow">
                                    <div class="card-body my-3">
                                       <div
                                          class="align-items-xl-center d-block d-xl-flex px-3"
                                       >
                                          <img
                                             class="img-fluid me-3 me-md-2 me-lg-3"
                                             src="assets/img/gallery/user-1.png"
                                             width="50"
                                             alt=""
                                          />
                                          <div
                                             class="flex-1 align-items-center pt-2"
                                          >
                                             <h5
                                                class="mb-0 fw-bold text-success"
                                             >
                                                Rina Kartika
                                             </h5>
                                             <p class="fw-normal text-black">
                                                Pengelola Hutan dari Kalimantan
                                             </p>
                                          </div>
                                       </div>
                                       <p class="mb-0 px-3 px-md-2 px-xxl-3">
                                          &quot;LSP Tanindo menawarkan program
                                          sertifikasi yang komprehensif dan
                                          berkualitas. Dengan sertifikasi ini,
                                          saya bisa mengimplementasikan praktik
                                          pengelolaan hutan yang lebih
                                          berkelanjutan dan ramah lingkungan.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-4 mb-5 mb-md-0">
                                 <div class="card h-100 shadow">
                                    <div class="card-body my-3">
                                       <div
                                          class="align-items-xl-center d-block d-xl-flex px-3"
                                       >
                                          <img
                                             class="img-fluid me-3 me-md-2 me-lg-3"
                                             src="assets/img/gallery/user-2.png"
                                             width="50"
                                             alt=""
                                          />
                                          <div
                                             class="flex-1 align-items-center pt-2"
                                          >
                                             <h5
                                                class="mb-0 fw-bold text-success"
                                             >
                                                Andi Rahman
                                             </h5>
                                             <p class="fw-normal text-black">
                                                Teknisi Pertanian dari Sumatera
                                                Barat
                                             </p>
                                          </div>
                                       </div>
                                       <p class="mb-0 px-3 px-md-2 px-xxl-3">
                                          &quot;Pelatihan dan sertifikasi dari
                                          LSP Tanindo sangat membantu saya dalam
                                          memperdalam pengetahuan tentang
                                          teknologi pertanian terbaru. Kini,
                                          saya bisa memberikan kontribusi yang
                                          lebih besar di tempat kerja.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-4 mb-5 mb-md-0">
                                 <div class="card h-100 shadow">
                                    <div class="card-body my-3">
                                       <div
                                          class="align-items-xl-center d-block d-xl-flex px-3"
                                       >
                                          <img
                                             class="img-fluid me-3 me-md-2 me-lg-3"
                                             src="assets/img/gallery/user-3.png"
                                             width="50"
                                             alt=""
                                          />
                                          <div
                                             class="flex-1 align-items-center pt-2"
                                          >
                                             <h5
                                                class="mb-0 fw-bold text-success"
                                             >
                                                Dewi Lestari
                                             </h5>
                                             <p class="fw-normal text-black">
                                                Konsultan Lingkungan dari Bali
                                             </p>
                                          </div>
                                       </div>
                                       <p class="mb-0 px-3 px-md-2 px-xxl-3">
                                          &quot;Sertifikasi LSP Tanindo
                                          memberikan pengakuan formal atas
                                          kompetensi saya di bidang konsultasi
                                          lingkungan. Ini membuka pintu untuk
                                          proyek-proyek yang lebih besar dan
                                          menantang di sektor pertanian dan
                                          kehutanan.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row px-3 px-sm-6 px-md-0 px-lg-5 px-xl-4">
                        <div class="col-12 position-relative">
                           <a
                              class="carousel-control-prev carousel-icon z-index-2"
                              href="#carouselExampleDark"
                              role="button"
                              data-bs-slide="prev"
                              ><span
                                 class="carousel-control-prev-icon"
                                 aria-hidden="true"
                              ></span
                              ><span class="visually-hidden">Previous</span></a
                           ><a
                              class="carousel-control-next carousel-icon z-index-2"
                              href="#carouselExampleDark"
                              role="button"
                              data-bs-slide="next"
                              ><span
                                 class="carousel-control-next-icon"
                                 aria-hidden="true"
                              ></span
                              ><span class="visually-hidden">Next</span></a
                           >
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section> -->

         <!-- ============================================-->
         <!-- <section> begin ============================-->
         <section class="py-5" id="partners">
            <div class="container">
               <div class="row text-center">
                  <div class="col">
                     <h2 class="fw-bold">Didukung oleh</h2>
                     <!-- <p class="text-muted">
                        Kami bekerja sama dengan berbagai organisasi dan
                        perusahaan terkemuka.
                     </p> -->
                  </div>
               </div>
               <div class="row justify-content-center align-items-center">
                  <div class="col-6 col-md-3 col-lg-2 mb-4">
                     <img
                        src="assets/img/partners/logo-bnsp.png"
                        class="img-fluid"
                        alt="Badan Nasional Standarisasi Profesi"
                     />
                  </div>
                  <div class="col-6 col-md-3 col-lg-2 mb-4">
                     <img
                        src="assets/img/partners/logo-ktna.png"
                        class="img-fluid"
                        alt="Kelompok Tani Nelayan Andalan"
                     />
                  </div>
                  <div class="col-6 col-md-3 col-lg-2 mb-4">
                     <img
                        src="assets/img/partners/logo-pppsi-old.png"
                        class="img-fluid"
                        alt="Kelompok Tani Nelayan Andalan"
                     />
                  </div>
                  <div class="col-6 col-md-3 col-lg-2 mb-4">
                     <img
                        src="assets/img/gallery/logo-tanindo.png"
                        class="img-fluid"
                        alt="LSP Tanindo"
                     />
                  </div>
               </div>
            </div>
         </section>
         <!-- <section class="z-index-1 cta">
            <div class="container">
               <div class="row flex-center">
                  <div class="col-12">
                     <div class="card shadow h-100 py-5">
                        <div class="card-body text-center">
                           <h1 class="fw-semi-bold mb-4">
                              Bersertifikasi untuk &nbsp;<span
                                 class="text-success"
                                 >Masa Depan Pertanian</span
                              >
                           </h1>

                           <button
                              class="btn btn-lg btn-success"
                              onclick="downloadFile()"
                           >
                              Selengkapnya ...
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section> -->
         <!-- <section> close ============================-->
         <!-- ============================================-->

         <section class="py-5" id="kontak">
            <div
               class="bg-holder"
               style="
                  background-image: url(assets/img/illustrations/footer-bg.png);
                  background-position: center;
                  background-size: cover;
               "
            ></div>
            <!--/.bg-holder-->

            <div class="container">
               <div class="row justify-content-lg-between min-vh-50">
                  <div class="col-12">
                     <div class="card bg-success">
                        <div class="card-body p-sm-4">
                           <div class="row">
                              <div class="col-md-8 col-12">
                                 <h6 class="mb-3 text-1000 fw-semi-bold">
                                    Alamat Kami
                                 </h6>
                                 <p class="mb-0 text-white">
                                    <span class="text-white fs--1 fs-sm-1"
                                       >Sekretariat Vivo Business Park A31 Unit
                                       I,<br />
                                       Jl. Pembangunan 3 Karang Anyar,
                                       Neglasari, <br />
                                       Kota Tangerang, Banten 15121,
                                       <br />
                                       Telp. 021-5958 5665, 0817 6322 965
                                       <br />
                                    </span>
                                 </p>
                              </div>
                              <div class="col-md-4 col-12">
                                 <h6 class="mb-3 text-1000 fw-semi-bold">
                                    Hubungi kami
                                 </h6>
                                 <ul
                                    class="list-unstyled mb-md-4 mb-lg-0 text-white"
                                 >
                                    <li class="mb-3">
                                       <i class="bi bi-facebook"></i>&nbsp; Lsp
                                       Tanindo
                                    </li>
                                    <li class="mb-3">
                                       <i class="bi bi-instagram"></i>&nbsp;
                                       @lsp_tanindo
                                    </li>
                                    <li class="mb-3">
                                       <i class="bi bi-tiktok"></i>&nbsp;
                                       @lsp.tanindo
                                    </li>
                                    <li class="mb-3">
                                       <i class="bi bi-youtube"></i>&nbsp; LSP
                                       Tanindo
                                    </li>
                                    <li class="mb-3">
                                       <i class="bi bi-twitter-x"></i>&nbsp;
                                       @LspTanindo
                                    </li>
                                    <li class="mb-3">
                                       <i class="bi bi-envelope"></i>&nbsp;
                                       admin@lsptanindo.com
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <hr class="text-300 mb-0" />
               <div class="row flex-center py-5">
                  <div
                     class="col-12 col-sm-8 col-md-6 text-center text-md-start"
                  >
                     <a class="text-decoration-none" href="#"
                        ><img
                           class="d-inline-block align-top img-fluid"
                           src="assets/img/gallery/logo-icon-tanindo.png"
                           alt=""
                           width="40"
                        /><span class="text-theme font-monospace fs-3 ps-2"
                           >Tanindo</span
                        ></a
                     >
                  </div>
                  <div class="col-12 col-sm-8 col-md-6">
                     <p class="fs--1 text-dark my-2 text-center text-md-end">
                        &copy; 2024 LSP Tanindo
                        <br />
                        This template is made with Love by
                        <a
                           class="text-dark"
                           href="https://themewagon.com/"
                           target="_blank"
                           >ThemeWagon
                        </a>
                     </p>
                  </div>
               </div>
            </div>
         </section>
      </main>
      <!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->

      <!-- ===============================================-->
      <!--    JavaScripts-->
      <!-- ===============================================-->
      <script src="vendors/@popperjs/popper.min.js"></script>
      <script src="vendors/bootstrap/bootstrap.min.js"></script>
      <script src="vendors/is/is.min.js"></script>
      <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script> -->
      <script src="assets/js/theme.js"></script>
      <script>
         function downloadFile() {
            var link = document.createElement("a");
            link.href = "assets/document/compro_lsp_tanindo_2024.pptx";
            link.download = "compro_lsp_tanindo_2024.pptx";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
         }
      </script>
   </body>
</html>
